<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Optional JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href={{url_for('static', filename='css/css.css')}}>
    <title>Programa Inventarios Aston Martin</title>
  </head>
  <body>
    <div class="bg-secondary text-white">
      <div class="container text-center col-md-5">
        <img src={{url_for('static', filename='img/logo.png')}} class="img-fluid rounded" alt="Programa Inventarios">
      </div>
      <div class="container text-center col-md-10">
        <h1 class="display-4 titulo">PROGRAMA INVENTARIOS</h1>
        <div class="row">
          <br><br>
        </div>
        <form>
          <div class="container text-center col-sm-7">
            <div class="row mb-3">
              <label for="User" class="col-sm-2 col-form-label">User</label>
              <div class="col-sm-7">
                <input type="text" class="form-control" id="User">
                <br>
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
              <div class="col-sm-7">
                <input type="password" class="form-control" id="inputPassword3">
              </div>
            </div>
            <br>
            <a href={{url_for('dashboard')}}>
              <button type="button" class="btn btn-primary btn-lg">Ingresar</button>
            </a>
            <br>
          </div>
        </form>
      </div>
    </div>
</body>
</html>

