{% extends "template_base.html" %}

{% block titulo %} INFORMACIÓN PROVEEDOR {% endblock %}

{% block content %}
  <!-- Inicia Section 1 -->
  <section class="container my-5" text-align= "center" >
    <!-- Inicia Cards 1-->
      <div class="card-deck">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2 ">
            <div class="card border-success mb-4"  >
              <a href="#">
                <div class="imagen-alto">
                  <img class="card-img-top" src="/static/img/Proveedores/{{proveedor.id}}.jpg" alt="Proveedores"/>
                </div>
              </a>
            </div>
        </div>
        <div class="card-deck">
            <div class="row justify-content-center">
              <div class="col-md-4 mb-2 ">
                <div class="card border-success mb-4"  >
                  <h5 class="card-title text-center">{{proveedor.nombre}}</h5>
                  <p class="card-text text-justify">{{proveedor.id}}</p>
                    </div>
                </div>
            </div>
        </div>
<h4>PRODUCTOS DEL PROVEEDOR</h4>
    {%for producto_fila in productos%}
    <div class="card-deck">
      <div class="row">
        {%for producto in producto_fila%}
          <div class="col-md-4 mb-2">
            <div class="card">
              <a href="#">
                <div class="imagen-alto">
                  <img class="card-img-top" src="/static/img/Productos/{{producto.id}}.jpg" alt="Productos"/>
                </div>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">{{producto.nombre}}</h5>
              </div>
            </div>
          </div>
          {%endfor%}
      </div>
    </div>
    {%endfor%}
{% endblock %}
