{% extends "template_base.html" %}

{% block titulo %} PRODUCTOS {% endblock %}

{% block content %}
<h3>CONSULTA DE PRODUCTOS</h3>
  <!-- Inicia Section 1 -->
  <section class="container my-5">
  <!-- Inicia Cards 1-->
    {%for fil_productos in productos%}
      <div class="card-deck">
        <div class="row">
          {%for col_productos in fil_productos%}  
            <!-- carro 1-->
            <div class="col-md-4 mb-2">
              <div class="card">
                <a href="#"> 
                  <img class="card-img-top" src="/static/img/Productos/{{col_productos.id}}.jpg")}} alt="Productos" width="190" height="190"/>
                </a>
                <div class="card-body">
                  <h5 class="card-title text-center">{{col_productos.descripcion}}</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Id: {{col_productos.id}} Nombre: {{col_productos.nombre}}</li>
                    <li class="list-group-item">Calificacion: {{col_productos.calificacion}}</li>
                    <li class="list-group-item">Stock Disponible: {{col_productos.disponible}}</li>
                  </ul>

                </div>
              </div>
            </div>
          {%endfor%}
        </div>
      </div>
    {%endfor%}
  <div class="clearfix">
    <div><br></div>  
    <div class="hint-text">Mostrando <b>3</b> de <b>3</b> entradas</div>
    <div><br></div>
    <ul class="pagination justify-content-center" style = "text-align: left">
      <li class="page-item disabled"><a href="#" class="page-link">Anterior</a></li>
      <li class="page-item active"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
    </ul>
  </div>
</section>
{% endblock %}
