{% extends "template_base.html" %}

{% block titulo %} PRODUCTOS {% endblock %}

{% block content %}
<h3>EDITAR PRODUCTOS</h3>
<div><br><br></div>

<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="col">idProducto</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Calificacion</th>
            <th scope="col">Canitdad minima</th>
            <th scope="col">Canitdad disponible</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">102345</th>
            <td>Victory 2019</td>
            <td>Gama alta</td>
            <td>4</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">102346</th>
            <td>Mercedes 1985</td>
            <td>Gama alta</td>
            <td>4</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">102347</th>
            <td>Mercedes 1996</td>
            <td>Gama alta</td>
            <td>4</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">102348</th>
            <td>Jeep Wrangler</td>
            <td>Gama alta</td>
            <td>4</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">102348</th>
            <td>Volvo XC40</td>
            <td>Gama alta</td>
            <td>4</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">102349</th>
            <td>Kia Picanto GT</td>
            <td>Gama alta</td>
            <td>4</td>
            <td>5</td>
            <td>5</td>
        </tr>
    </tbody>
  </table>
  <div><br></div>
  <div>
      <button type="button" class="btn btn-success">Editar</button>
      <button type="button" class="btn btn-success">Cancelar</button>
  </div>
  <div><br><br><br></div>
{% endblock %}