{% extends "template_base.html" %}

{% block titulo %} PRODUCTOS {% endblock %}

{% block content %}
  <!-- Inicia Section 1 -->
  <section class="container my-5">
  <!-- Inicia Cards 1-->
    <div class="card-deck">
      <div class="row">
        <div class="col-md-4 mb-2">
          <div class="card">
            <a href="#">
                <img class="card-img-top" src={{url_for('static', filename='img/imagenDashProductos.jpg')}} alt="Productos"/>
            </a>
            <div class="card-body">
              <h5 class="card-title text-center">Victory 2019</h5>
              <a href="#">
                <button class="btn btn-info">Ver info</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card">
            <a href="#">
                <img class="card-img-top" src={{url_for('static', filename='img/mercedes.jpg')}} alt="Productos"  width="200" height="200" />
            </a>
            <div class="card-body">
              <h5 class="card-title text-center">Mercedes 2020</h5>
              <a href="#">
                <button class="btn btn-info">Ver info</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
            <div class="card">
              <a href="#">
                  <img class="card-img-top" src={{url_for('static', filename='img/mercedes2.jpg')}} alt="Productos" width="200" height="200" />
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">Mercedes 2020</h5>
                <a href="#">
                  <button class="btn btn-info">Ver info</button>
                </a>
              </div>
            </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card">
            <a href="#">
                <img class="card-img-top" src={{url_for('static', filename='img/imagenDashProductos.jpg')}} alt="Productos"/>
            </a>
            <div class="card-body">
              <h5 class="card-title text-center">Victory 2019</h5>
              <a href="#">
                <button class="btn btn-info">Ver info</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card">
            <a href="#">
                <img class="card-img-top" src={{url_for('static', filename='img/imagenDashProductos.jpg')}} alt="Productos"/>
            </a>
            <div class="card-body">
              <h5 class="card-title text-center">Victory 2019</h5>
              <a href="#">
                <button class="btn btn-info">Ver info</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="card">
            <a href="#">
                <img class="card-img-top" src={{url_for('static', filename='img/imagenDashProductos.jpg')}} alt="Productos"/>
            </a>
            <div class="card-body">
              <h5 class="card-title text-center">Victory 2019</h5>
              <a href="#">
                <button class="btn btn-info">Ver info</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
   
  </section>
  
{% endblock %}