{% extends "template_base.html" %}

{% block titulo %} PROVEEDORES {% endblock %}

{% block content %}
<h3>ELIMINAR PROVEEDORES</h3>
<div><br><br></div>
<form action="{{url_for('proveedoresEliminar')}}" method="POST">
<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="col">Id Proveedores</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>

    <tbody>
        {%for proveedor in proveedores%}
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="checkbox" id="selectAll" name="{{proveedor.id}}" value="{{proveedor.id}}">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">{{proveedor.id}}</th>
            <td>{{proveedor.nombre}}</td>
            </td>
        </tr>
        {%endfor%}
    </tbody>
  </table>
  <div><br></div>
  <div>
      <input type="submit" class="btn btn-success" value="Eliminar">
      
  </div>
</form>
  <div><br><br><br></div>
{% endblock %}