{% extends "template_base.html" %}

{% block titulo %} PROVEEDORES {% endblock %}

{% block content %}
<h3>EDITAR PROVEEDORES</h3>
<div><br><br></div>

<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="col">Id Proveedor</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">87567356</th>
            <td>Everin Salas</td>
            </td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">54685886</th>
            <td>Jesús Reales</td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">46857679</th>
            <td>Jorge Aristizabal</td>
        </tr>
    </tbody>
  </table>
  <div><br></div>
  <div>
      <button type="button" class="btn btn-success">Editar</button>
      <button type="button" class="btn btn-success">Cancelar</button>
  </div>
  <div><br><br><br></div>
{% endblock %}