{% extends "template_base.html" %}

{% block titulo %} PROVEEDORES {% endblock %}

{% block content %}
<h3>CONSULTA DE PROVEEDORES</h3>
  <!-- Inicia Section 1 -->
  <section class="container my-5">
    <!-- Inicia Cards 1-->
    {%for proveedor_fila in proveedores%}
      <div class="card-deck">
        <div class="row">
          {%for proveedor_columna in proveedor_fila%}
          <div class="col-md-6 mb-2">
            <div class="card">
              <a href="#">
                <div class="imagen-alto">
                  <img class="card-img-top" src= "/static/img/Proveedores/{{proveedor_columna.id}}.jpg" alt="Proveedores"/>
                </div>
              </a>
              <div class="card-body">
                <h5 class="card-title text-center">{{proveedor_columna.nombre}}</h5>
                <p class="card-text text-justify">{{proveedor_columna.id}}</p>
                <a href="/proveedores/consultar/proveedor/{{proveedor_columna.id}}">
                  <button class="btn btn-info">Más Información</button>
                </a>
              </div>
            </div>
          </div>
          {%endfor%}
        </div>
        </div>
    {%endfor%}
              <div class="clearfix">
                <div><br></div>  
				<div class="hint-text">Mostrando <b>6</b> de <b>6</b> entradas</div>
                <div><br></div>
				<ul class="pagination justify-content-center" style = "text-align: left">
					<li class="page-item disabled"><a href="#" class="page-link">Anterior</a></li>
					<li class="page-item active"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Siguiente</a></li>
				</ul>
			</div>
    </section>
{% endblock %}
