{% extends "template_base.html" %}

{% block titulo %} USUARIOS {% endblock %}

{% block content %}
<h3>EDITAR USUARIOS</h3>
<div><br><br></div>
<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="col">idUsuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
        </tr>
    </thead>
    <tbody>
        <!--Vamos a traer de la consulta CRUDUsuario de los usuarios de la Base de datos -->
        {% for usu in usuarios %}
        <tr>
            <td>{% print(usu[0]) %}</td>
            <td>{% print(usu[1]) %}</td>
            <td>{% print(usu[2]) %}</td>
            <td>{% print(usu[3]) %}</td>
            <td>{% print(usu[4]) %}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">1023456876</th> 
            <td>Ana Díaz</td>
            <td>Usuario Final</td>
            </td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">23456789</th>
            <td>Carlos Paez</td>
            <td>Administrador</td>
        </tr>
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row">98764523</th>
            <td>Milena García</td>
            <td>Súper Administrador</td>
        </tr>
    </tbody>
  </table>
  <div><br></div>
  <div>
      <a href={{url_for('usuariosEditarusuario')}} <button type="button" class="btn btn-success">Editar Usuario</button></a>
  </div>
  <div><br><br><br></div>
{% endblock %}