{% extends "template_base.html" %}

{% block titulo %} USUARIOS {% endblock %}

{% block content %}
<h3>ELIMINAR USUARIOS</h3>
<div><br><br></div>
<form action={{url_for('usuariosEliminar')}} method="POST">
<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
              <span>
              </span>
            </th>
            <th scope="col">idUsuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
        </tr>
    </thead>
    <tbody>
      {%for usuario in usuarios%}
        <tr>
            <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="{{usuario.id}}" name="{{usuario.id}}" value="{{usuario.id}}">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="row"><label for="{{usuario.id}}">{{usuario.id}}</label></th>
            <td><label for="{{usuario.id}}">{{usuario.nombre}}</label></td>
            <td><label for="{{usuario.id}}">{{usuario.rol.nombre}}</label></td>
            </td>
        </tr>
        {%endfor%}
    </tbody>
  </table>
  <div><br></div>
  <div>
    <input type="submit" class="btn btn-success" value="ELIMINAR USUARIOS">
</form>
  </div>
  <div><br><br><br></div>
{% endblock %}
