{% extends "template_base.html" %}

{% block titulo %} USUARIOS {% endblock %}

{% block content %}
<h3>EDITAR USUARIOS</h3>
<div><br><br></div>
<table class="table table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                <span class="custom-checkbox">
                    <input type="radio" id="selectAll">
                    <label for="selectAll"></label>
                </span>
            </th>
            <th scope="col">idUsuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Rol</th>
        </tr>
    </thead>
    <tbody>
        <!--Vamos a traer de la consulta CRUDUsuario de los usuarios de la Base de datos -->
        {%for usuario_fila in usuarios%}
            {%for usuario_columna in usuario_fila%}
                <tr>
                    <th>
                        <span class="custom-checkbox">
                            <input type="radio" id="selectAll">
                            <label for="selectAll"></label>
                        </span>
                    </th>
                    <td>{{usuario_columna['id']}}</td>
                    <td>{{usuario_columna['nombre']}}</td>            
                    <td>{{usuario_columna['rol']}}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
  </table>
  <div><br></div>
  <div>
      <a href={{url_for('usuariosEditarusuario')}} button type="button" class="btn btn-success">Editar Usuario</button></a>
  </div>
  <div><br><br><br></div>
{% endblock %}