{% extends "template_base.html" %}

{% block titulo %} USUARIOS {% endblock %}

{% block content %}
<h3>EDITAR DATOS DEL USUARIOS</h3>
<br><br>
<form action={{url_for('usuariosEditar')}} method="post" enctype="multipart/form-data">
    <div class="container text-center col-sm-9">
        <div class="mb-3 row">
            <label for="idUsuario" class="col-sm-4 col-form-label">Id Usuario</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="id" id="idUsuario" value="{{usuario.id}}" readonly>
            </div>
        </div>
        <div class="mb-3 row">
          <label for="nombreUsuario" class="col-sm-4 col-form-label">Nombre</label>
            <div class="col-sm-8">
              <input type="text" minlength="3" maxlength="20" class="form-control" name="nombre" id="nombreUsuario" value="{{usuario.nombre}}" placeholder="{{usuario.nombre}}">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="col-sm-4 col-form-label">Contraseña</label>
            <div class="col-sm-8">
              <input type="password" minlength="3" name="password" class="form-control" id="password">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="confirmpassword" class="col-sm-4 col-form-label">Confirmar Contraseña</label>
            <div class="col-sm-8">
              <input type="password" minlength="3" name="password2" class="form-control" id="confirmpassword">
            </div>
        </div>
        <div class="mb-3 row">
          <label for="rolusuario" class="col-sm-4 col-form-label">Rol del Usuario</label>
            <div class="col-sm-8">
              <select class="form-select mb-3" id="rolusuario" name="rol" aria-label=".form-select-lg example">
                <option value="0" {%if usuario.rol.id == 0%}selected{%endif%}>Usuario final</option>
                <option value="1" {%if usuario.rol.id == 1%}selected{%endif%}>Administrador</option>
                {%if usuario_registrado.rol.id == 2%}
                <option value="2" {%if usuario.rol.id == 2%}selected{%endif%}>Super Administrador</option>
                {%endif%}
                </select>
            </div>
        </div>
        <div class="mb-3 row">
          <label for="nombreimagen" class="col-sm-4 col-form-label">Imagen (.jpg)</label>
          <div class="col-sm-8">
              <input type="file" accept=".jpg" name="imagen" class="form-control" id="nombreimagen">
          </div>
      </div>
        <div><br></div>
        <div>
          <input type="submit" class="btn btn-success" value="GUARDAR CAMBIOS">
        </div>
        <div><br><br><br></div>
    </div>
</form>
{% endblock %}
