{% extends "template_base.html" %}

{% block titulo %} USUARIOS {% endblock %}

{% block content %}
<h3>CONSULTA DE USUARIOS</h3>
<!-- Inicia Section 1 -->
<section class="container my-5">
  <!-- Inicia Cards 1-->
  {%for usuario_fila in usuarios%}
  <div class="card-deck">
    <div class="row">
      {%for usuario in usuario_fila%}
      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="imagen-alto">
            <img class="card-img-top" src="/static/img/Usuarios/{{usuario.id}}.jpg" alt="Imagen de usuario no encontrada"/>
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">{{usuario.nombre}}</h5>
            <p class="card-text text-justify">ID Usuario: {{usuario.id}}</p>
            <p class="card-text text-justify">Rol Usuario: {{usuario.rol.nombre}}</p>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
  </div>
  {%endfor%}
</section>
{% endblock %}
